@include component(box) {

	@include option(sports-box) {
		position: relative;
		@include rem-spacing (margin-bottom, 30);

		@include component(text) {
			position: absolute;
			bottom: 10px;
			left: 30px;
			color: $theme-white;
			font-family: $heading-font-family;
			@include fontSize($font-size-h1);
			text-transform: uppercase;
			font-weight: $font-weight-bold;

			@media (max-width: 1200px) {
				@include fontSize($font-size-h1 - 10px);
			}

			@media (max-width: 575px) {
				left: 20px;
			}
		}

		@media (max-width: 767px) {
			max-width: 520px;
			margin: 0 auto 30px;
		}

		@include option(without-image) {
			background-color: $theme-secondary;
			height: calc(100%  - 30px);

			@include component(text) {
				color: #231f20;
				@include fontSize($font-size-h1 + 30px);
				font-size: 5vw;
				left: auto;
				top: auto;
				position: relative;
				line-height: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;

				@media (max-width: 991px) {
					@include fontSize($font-size-h1);
				}
			}

			@media (max-width: 767px) {
				display: none;
			}
		}
	}

	@include option(partner-box) {
		text-align: center;
		flex-grow: 1;
	    flex-basis: 0;
	    border-right: 1px solid $theme-secondary;
	    @include rem-spacing (margin-top, 60);

	    img {
	    	width: 80%;
	    }

	    &:last-child {
	    	border: none;
	    }

		@media (max-width: 767px) {
			// width: 100%;
			// border: none;

			img {
				width: 160px
			}
		}

		@media (max-width: 575px) {
			// width: 100%;
			border: none;

			img {
				width: 220px
			}
		}
	}

	@include option(academy-box) {
		text-align: center;
		flex-grow: 1;
	    //flex-basis: 0;
	    @include rem-spacing (padding, 0, 20);
	    border-right: 1px solid $theme-white;
	    @include rem-spacing (margin-top, 40);
	    display: flex;
	    border-right: 4px solid $theme-secondary;
	    justify-content: center;

	    &:last-child {
	    	border: none;
	    }
		
		picture {
			display: block;
			@include rem-spacing (margin-right, 10);
			width: 44px;

			@media (max-width: 1200px) {
				//max-width: 80px;
				//margin: 0 auto 30px;
			}

			@media (max-width: 991px) {
				max-width: 30px;
			}
		}

		@include component(text) {
			color: $theme-primary;
			text-transform: uppercase;
			@include fontSize($font-size-h2 + 10px);
			text-align: center;
			font-weight: $font-weight-bold;
			@extend .ff-secondary;
			line-height: 1.1;

			@media (max-width: 1200px) {
				@include fontSize($font-size-h2 - 4px);
			}

			@media (max-width: 991px) {
				@include fontSize($font-size-h4);
			}
		}

		@media (max-width: 991px) {
			@include rem-spacing (padding, 0, 10);
		}

		@media (max-width: 767px) {
			//display: inline-block;
			//width: 49%;
			border: none;
		}

		@media (max-width: 575px) {
			width: 100%;
		}
	}

	@include option(cta-box) {
		flex-grow: 1;
	    flex-basis: 0;
	    display: flex;
	    justify-content: center;
	    //@include rem-spacing (margin-top, 40);

	    picture {
	    	display: flex;
	    	align-items: center;
	    	width: 44px;

	    	@media (max-width: 767px) {
	    		width: 28px;
	    	}
	    }

	    @include component(text) {
			color: $theme-football;
			text-transform: uppercase;
			@include fontSize($font-size-h2 + 10px);
			font-weight: $font-weight-bold;
			@extend .ff-secondary;
			@include rem-spacing (margin-left, 10);

			@media (max-width: 767px) {
				@include fontSize($font-size-h3);
			}
		}
	}

	@include option(eupepsia-services-box) {
		@include rem-spacing (margin, 40, 0);
		
		@include component(title) {
			color: $theme-eupepsia;
			text-transform: uppercase;
			text-align: center;
			@include rem-spacing (margin-bottom, 10);
			@include fontSize($font-size-h2);
		}

		@include component(inner-content) {
			@include rem-spacing (margin-top, 10);

			@include component(subtitle) {
				text-transform: capitalize;
				color: $theme-black;
				@include fontSize($font-size-h4);
				font-weight: $font-weight-bold;
				@include rem-spacing (margin-bottom, 20);
				line-height: 1.3;
			}

			@include component(desc) {
				@include fontSize($font-size-large);
				line-height: 1.2;
				min-height: 100px;
			}

			@include component(btn) {
				background-color: $theme-eupepsia;
				text-transform: uppercase;
				font-weight: $font-weight-light;
				@include rem-spacing (margin-top, 10);
			}
		}

		@include option(brown) {
			
			@include component(title) {
				color: $theme-brown;
			}

			@include component(inner-content) {
				
				@include component(btn) {
					background-color: $theme-brown;
				}
			}
		}

		@include option(green) {
			
			@include component(title) {
				color: $theme-green;
			}

			@include component(inner-content) {
				
				@include component(btn) {
					background-color: $theme-green;
				}
			}
		}

		@include option(blue) {
			
			@include component(title) {
				color: $theme-blue;
			}

			@include component(inner-content) {
				
				@include component(btn) {
					background-color: $theme-blue;
				}
			}
		}

		@media (max-width: 991px) {
			max-width: 540px;
			margin: 40px auto 0;
		}
	}

	@include option(programs-box) {
		@include rem-spacing (margin, 0, 0, 40);
		
		@include component(title) {
			color: $theme-black;
			text-transform: uppercase;
			text-align: center;
			@include rem-spacing (margin-bottom, 20);
			@include fontSize($font-size-h2 + 6px);

			@include option(football) {
				color: $theme-football;
			}
		}

		@include component(inner-content) {
			@include rem-spacing (margin-top, 10);
			text-align: center;

			@include component(subtitle) {
				text-transform: uppercase;
				color: $theme-black;
				@include fontSize($font-size-h2);
				@extend .ff-secondary;
				//font-weight: $font-weight-bold;
				@include rem-spacing (margin-bottom, 10);
				line-height: 1.3;

				@media (max-width: 1400px) {
					@include fontSize($font-size-h2 - 6px);
				}
			}

			@include component(desc) {
				@include fontSize($font-size-large);
				line-height: 1.2;
				//min-height: 100px;
				@include rem-spacing (margin-bottom, 20);
			}

			@include component(btn) {
				background-color: $theme-football;
				text-transform: uppercase;
				font-weight: $font-weight-light;
				@include rem-spacing (margin-top, 10);
			}
		}

		@media (max-width: 991px) {
			max-width: 540px;
			margin: 40px auto 0;
		}

		@include option(footlab) {
			
			@include component(inner-content) {
				@include rem-spacing (margin-top, 10);
				text-align: left;

				@include component(subtitle) {
					text-transform: capitalize;
					color: $theme-black;
					@include fontSize($font-size-h4);
					font-weight: $font-weight-bold;
					@include rem-spacing (margin-bottom, 20);
					line-height: 1.3;
				}

				@include component(desc) {
					@include fontSize($font-size-large);
					line-height: 1.2;
					min-height: 80px;
				}

				@include component(btn) {
					background-color: $theme-football;
					text-transform: uppercase;
					font-weight: $font-weight-light;
					@include rem-spacing (margin-top, 10);
				}
			}

		}
	}

}