@include component(tabbing) {
    
    @include component(tabbing-head) {
        @extend .clearfix;
        
        li {
            @include rem-spacing (padding, 8, 20);
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            border: 1px solid $theme-border;
            border-bottom: 0;
            float: left;
            cursor: pointer;

            &.current {
                background-color: $theme-lg-grey;
            }
        }
    }

    @include component(tabbing-body) {
        @include rem-spacing (padding, 20);
        border: 1px solid $theme-border;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}